@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">

    <div class="row justify-content-center text-center">

        <div class="col">
            <div class="card h-100 d-flex m-5 border-transparent text-light bg-dark bg-opacity-50 ">

                <h1 class="card-subtitle">Informativa sulla privacy</h1>

                <p class="card-text">La tua privacy è importante per noi. In questa pagina, ti informiamo su come raccogliamo, utilizziamo e proteggiamo le informazioni personali che riceviamo dai visitatori del nostro sito web.</p>

                <h2 class="card-subtitle">Raccolta delle informazioni</h2>

                <p class="card-text">Quando visiti il nostro sito web, potremmo raccogliere alcune informazioni personali come il tuo nome, l'indirizzo email e altri dati necessari per fornire i nostri servizi. Queste informazioni vengono raccolte tramite moduli di registrazione, newsletter o interazioni dirette con il sito.</p>

                <h2 class="card-subtitle">Utilizzo delle informazioni</h2>

                <p class="card-text">Le informazioni personali che raccogliamo vengono utilizzate per rispondere alle tue richieste, migliorare la tua esperienza di navigazione sul sito, inviarti aggiornamenti o comunicazioni relative ai nostri prodotti o servizi. Non condivideremo, venderemo o affitteremo mai le tue informazioni personali a terze parti senza il tuo consenso esplicito, a meno che non sia richiesto dalla legge.</p>

                <h2 class="card-subtitle">Protezione delle informazioni</h2>

                <p class="card-text">Adottiamo misure di sicurezza appropriate per proteggere le informazioni personali da accessi non autorizzati, perdite o utilizzi impropri. Utilizziamo tecnologie di crittografia, firewall e procedure di sicurezza avanzate per garantire la massima protezione dei dati.</p>

                <h2 class="card-subtitle">Cookies</h2>

                    <p class="card-text">Il nostro sito web potrebbe utilizzare i cookie per migliorare l'esperienza degli utenti e personalizzare il contenuto in base alle tue preferenze. I cookie sono piccoli file di testo che vengono memorizzati sul tuo dispositivo quando visiti il nostro sito. Puoi gestire le impostazioni dei cookie nel tuo browser.</p>

                    <h2 class="card-subtitle">Modifiche all'informativa sulla privacy</h2>

                    <p class="card-text">Questa informativa sulla privacy potrebbe essere soggetta a modifiche o aggiornamenti. Ti consigliamo di controllare regolarmente questa pagina per rimanere informato sulle eventuali modifiche.</p>

                    <h2 class="card-subtitle">Contattaci</h2>

                    <p class="card-text">Se hai domande o dubbi riguardo alla nostra politica sulla privacy, ti invitiamo a contattarci utilizzando le informazioni di contatto fornite sul sito.</p>

                    <p class="card-text">Ultimo aggiornamento: @DateTime.Now.ToShortDateString()</p>
            </div>
        </div>

    </div>

</div>